#map{
    width: 100%;
    height: 400px;
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

#ticketsTable {
    border-collapse: inherit;
}

.special{
    margin-bottom: 5px;
}

.wrap-slider{
    position:relative;
}
.slider{
    margin:0 auto;
    height:380px;
    width:600px;
    overflow:hidden;
    margin-top: 50px;
    margin-bottom: 50px;
}
.slider img{
    height:380px;
    width:auto;

}


.slider-nav .slider-arrow {
    position:absolute;
    top:38%;
    font-size: 50px;
    color:#F62459;
    cursor:pointer;
}
.slider-nav .slider-left {
    display:none;
    left:13%;
}
.slider-nav .slider-right {
    right:13%;
}

